<%= form_for @question, :html => { :class => 'questionform', :multipart => true } do |f| %>

<fieldset>
	<div style="margin: 0 auto;width: 256px">
	<p>
		<!--<div style="background: url('/assets/upload-256x256.png'); width: 256px; height: 147px; overflow: hidden;margin: 0 auto;" onclick="$('question_image').click();"> -->
			<img id="img_upload_image" src="/assets/upload-256x256.png/" style="cursor: pointer"/>
			<%= f.file_field :image, :accept=> "image/*",  :style => "opacity:0;-moz-opacity:0 ;filter:alpha(opacity: 0);", :onchange => "showPreview(this);"  %>
		<!-- </div> -->
	</p>
	</div>
</fieldset>
<fieldset>
	<p>
		<div style="margin: 0 auto;width: 256px"><img id="img_prev" src="/assets/256x256-preview.png" alt="your image" />
		</div>
	</p>
</fieldset>
<fieldset class="group">
	<p>
		<%= f.text_field :question, :placeholder => "Enter your questions" %>
		
	</p>
	<p>
		<%= f.text_area :description, :cols => 30, :rows => 5, :placeholder => "Description"%>
	</p>
</fieldset>

<fieldset>
	<p>
		<%= f.text_field :price, :placeholder => 'Price willing in ($)' %>
	</p>
</fieldset>

<fieldset>
	<p>
		<%= f.text_field :url, :placeholder => 'URL' %>
	</p>
</fieldset>

<%= f.submit 'Post your question' %>

<script>

	$('#img_upload_image').click(function() {
	    $('#question_image').click();
	});
	function showPreview(ele) {

		$('#img_prev').attr('src', ele.value);
		;
		// for IE

		if (ele.files && ele.files[0]) {

			var reader = new FileReader();

			reader.onload = function(e) {
				$('#img_prev').attr('src', e.target.result).width(256);
				;
			}

			reader.readAsDataURL(ele.files[0]);

		}

	}

</script>
<% end %>
