<% @answers.each do |answer| %>
  <ol id="comment-list" class="group">
  <li class="comment">
    <span class="comment-meta">Posted by <strong><%= answer.user.name if answer.user %></strong>, at
      <time> <%= answer.updated_at %>
      </time>
      <%if current_user %>
        <% if answer.question.user_id == current_user.id %>
          <%= link_to  "Answer Accepted",update_answer_path(:answer_id => answer.id,:question_id => answer.question_id),:remote=>true %>    
        <% end %>
      <% end %>
    </span>

    <div class="comment-text group">
      <img class="avatar" src="<%= answer.image %>" alt="">
      <div class="comment-copy">
        <p>
          <%= answer.comment %>
        </p>
        <div class = "comment_vote">
          <%= link_to "vote up", votes_path(:answer_id => answer.id, :is_vote => true), :method => "post", :remote => true, :class => "comment_vote" %>
        </div>
      </div>
    </div>
  </li>
<% end %>

<script>
$('.comment_vote').click(function(){
  $(this).css('color','black');
});
</script>
 
