<div class="inner-container group">
	<div class="box-hold group">
		<article class="entry box format-image">
			<div class="entry-intro">
				
					<h1><%= @question.question %></h1><span class="entry-meta">Posted by <strong>
						<vmasto>
							<%= @question.user.name%>
						</strong>, at
						<time datetime="2012-08-07">
							<%= @question.created_at%>
						</time></span>
					<a class="single-heart-this" href="#" title="Love this."> <span class="heart-icon"></span> <span class="heart-no">16</span></a>
					<!-- .entry-intro -->
				
			</div>

			<figure class="entry-image">
				<a href="#" data-lightbox="fancybox"><img src="<%= @question.image.medium %>" alt="<%= @question.question %>"></a>
			</figure>
			<div class="entry-intro">
				<h1>Price : <%= number_to_currency(@question.price)%></h1>
				<h2>Description</h2>
				<%= @question.description%>

				<p>
					<strong>more details check </strong><a href="#"><%= @question.url%></a>
				</p>
			</div>
			<div class="social-share"></div>
		</article>
	</div><!-- .box-hold -->

	<div class="box-hold">
		<div class="box comment-form">
			<div class="box-content">
				<h3>Post your comment</h3>

				<form id="commentform" class="group" action="/">
					<fieldset class="group">
						<p>
							<input type="text" title="Your Name">
						</p>

						<p>
							<input type="text" title="Your E-mail">
						</p>
					</fieldset>

					<fieldset>
						<p>
							<textarea cols="30" rows="4" title="Your Comment"></textarea>
						</p>
					</fieldset>
					<button type="submit">
						Submit
					</button>
				</form>
			</div>
		</div>

		<div class="box post-comments">
			<div class="box-content">
				<h3>42 Comments</h3>

				<ol id="comment-list" class="group">
					<li class="comment">
						<span class="comment-meta">Posted by <strong>vmasto</strong>, at
							<time datetime="2012-08-07">
								July 7th, 2012
							</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

						<div class="comment-text group">
							<img class="avatar" src="/assets/avatar.png" alt="">

							<div class="comment-copy">
								<p>
									First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.
								</p>
							</div>
						</div>
					</li>

					<li class="comment">
						<span class="comment-meta">Posted by <strong>vmasto</strong>, at
							<time datetime="2012-08-07">
								July 7th, 2012
							</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

						<div class="comment-text group">
							<img class="avatar" src="/assets/avatar.png" alt="">

							<div class="comment-copy">
								<p>
									First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.
								</p>
							</div>
						</div>
					</li>

					<li class="comment">
						<span class="comment-meta">Posted by <strong>vmasto</strong>, at
							<time datetime="2012-08-07">
								July 7th, 2012
							</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

						<div class="comment-text group">
							<img class="avatar" src="/assets/avatar.png" alt="">

							<div class="comment-copy">
								<p>
									First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.
								</p>
							</div>
						</div>
					</li>

					<li class="comment">
						<span class="comment-meta">Posted by <strong>vmasto</strong>, at
							<time datetime="2012-08-07">
								July 7th, 2012
							</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

						<div class="comment-text group">
							<img class="avatar" src="/assets/avatar.png" alt="">

							<div class="comment-copy">
								<p>
									First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.
								</p>
							</div>
						</div>
					</li>
				</ol><a class="load-more-comments" href="#">View 38 More Comments...</a>
			</div>
		</div>
	</div><!-- .box-hold -->
</div>
